@model IEnumerable<LogicaNegocio.Entidades.Tema>

@{
    ViewData["Title"] = "ListaTemas";
}

@if (@ViewBag.Mensaje != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @ViewBag.Mensaje
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @ViewBag.Error
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else
{
    @if (Model == null || !Model.Any())
    {
        <p>No se encontraron temas</p>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th class="text-end">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var t in Model)
                    {
                        <tr>
                            <td>@t.Id</td>
                            <td>@t.Nombre</td>
                            <td>@t.Descripcion</td>
                            <td>
                                <div class="btn-group d-grid gap-3 d-md-block text-end" role="group" aria-label="Actions">
                                    <a asp-controller="Tema" asp-action="Edit" asp-route-id="@t.Id" class="btn btn-primary">Editar</a>
                                    <a asp-controller="Tema" asp-action="Details" asp-route-id="@t.Id" class="btn btn-secondary">Detalles</a>
                                    <a asp-controller="Tema" asp-action="Delete" asp-route-id="@t.Id" class="btn btn-danger">Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

    <div class="text-end">
        <a asp-controller="Tema" asp-action="Create" class="btn btn-primary">Agregar tema</a>
    </div>
}